#meine_Hobbys_section{
    padding: 70px;
    background-color: var(--secondary-color);
}
#meine_Hobbys_section h2{
    font-size: 50px;
    text-align: center;
}
.flex_container{
    margin-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 450px;
    max-width: calc(90% - 40px);
    background-color: var(--primary-color);
    border-radius: 100px;
    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.card *{
    text-align: center;
}
@media(max-width: 800px){
    #meine_Hobbyssection h2{
        font-size: 9vw;
    }
    .flex_container{
        font-size: 90%;
    }
}